# Day 8: Part 2

#### Fix the program so that it terminates normally by changing exactly one jmp (to nop) or nop (to jmp). 
### What is the value of the accumulator after the program terminates?

In [4]:
with open('test8.txt') as f:
    text = f.readlines()
    text = [line.strip() for line in text]

print(text)

['nop +0', 'acc +1', 'jmp +4', 'acc +3', 'jmp -3', 'acc -99', 'acc +1', 'jmp -4', 'acc +6']

In [5]:
text = [item.split(' ') for item in text]

In [6]:
text

[['nop', '+0'],
 ['acc', '+1'],
 ['jmp', '+4'],
 ['acc', '+3'],
 ['jmp', '-3'],
 ['acc', '-99'],
 ['acc', '+1'],
 ['jmp', '-4'],
 ['acc', '+6']]

In [7]:
import pandas as pd
input_df = pd.DataFrame(text, columns=['type', 'amount'])
input_df

  type amount
0  nop     +0
1  acc     +1
2  jmp     +4
3  acc     +3
4  jmp     -3
5  acc    -99
6  acc     +1
7  jmp     -4
8  acc     +6

In [8]:
input_df['visited?'] = 0
input_df

  type amount  visited?
0  nop     +0         0
1  acc     +1         0
2  jmp     +4         0
3  acc     +3         0
4  jmp     -3         0
5  acc    -99         0
6  acc     +1         0
7  jmp     -4         0
8  acc     +6         0

**Write a function to interpret each line**

In [9]:
accumulator = 0
instruction = ''
sign = ''
amount = 0

In [11]:
def uncorrupt(i):
    instruction = input_df.iloc[i]['type']
    sign = input_df.iloc[i]['amount'][0]
    amount = int(input_df.iloc[i]['amount'][1:])
    
    if instruction == 'nop':
        input_df.at[i, 'type'] = 'jmp'
    if instruction == 'jmp':
        input_df.at[i, 'type'] = 'nop'
    handheld(i)

In [12]:
def handheld(i):
    global accumulator, instruction, sign, amount
    # First check if you've already visited this row
    # If you have, you're done! Return the accumulator
    if input_df.iloc[i]['visited?'] == 1:
        uncorrupt(i-)
    
    # Get the instruction and amount
    instruction = input_df.iloc[i]['type']
    sign = input_df.iloc[i]['amount'][0]
    amount = int(input_df.iloc[i]['amount'][1:])
        
    # Follow the instructions!
    if instruction == 'nop':
        input_df.at[i, 'visited?'] = 1
        handheld(i+1)
        
    elif instruction == 'acc':
        input_df.at[i, 'visited?'] = 1
        if sign == '+':
            accumulator += amount
            handheld(i+1)
        if sign == '-':
            accumulator -= amount
            handheld(i+1)
        
    elif instruction == 'jmp':
        input_df.at[i, 'visited?'] = 1
        if sign == '+':
            handheld(i+amount)
        if sign == '-':
            handheld(i-amount)

In [ ]:
handheld(0)

***Currently, my idea is to call the previous frame on the stack (since handheld() is a recursive function) and then access the previous value of i from that...but there's probably an easier way (using global variables? maybe make one called 'last i'?)***