# Day 8: Part 1

### Immediately before any instruction is executed a second time, what value is in the accumulator?

In [30]:
with open('test8.txt') as f:
    text = f.readlines()
    text = [line.strip() for line in text]

print(text)

['nop +0', 'acc +1', 'jmp +4', 'acc +3', 'jmp -3', 'acc -99', 'acc +1', 'jmp -4', 'acc +6']

In [32]:
text = [item.split(' ') for item in text]

In [33]:
text

[['nop', '+0'],
 ['acc', '+1'],
 ['jmp', '+4'],
 ['acc', '+3'],
 ['jmp', '-3'],
 ['acc', '-99'],
 ['acc', '+1'],
 ['jmp', '-4'],
 ['acc', '+6']]

In [36]:
input_df = pd.DataFrame(text, columns=['type', 'amount'])
input_df

  type amount
0  nop     +0
1  acc     +1
2  jmp     +4
3  acc     +3
4  jmp     -3
5  acc    -99
6  acc     +1
7  jmp     -4
8  acc     +6

In [37]:
input_df['visited?'] = 0
input_df

  type amount  visited?
0  nop     +0         0
1  acc     +1         0
2  jmp     +4         0
3  acc     +3         0
4  jmp     -3         0
5  acc    -99         0
6  acc     +1         0
7  jmp     -4         0
8  acc     +6         0

In [55]:
list(input_df.iloc[0].values)[1][1:]

'0'

**Write a function to interpret each line**

In [59]:
def handheld(i, accumulator=0):
    instruction = list(input_df.iloc[i].values)[0]
    sign = list(input_df.iloc[i].values)[1][0]
    amount = int(list(input_df.iloc[i].values)[1][1:])
    visited = list(input_df.iloc[i].values)[2]
    if visited:
        return accumulator
    elif instruction == 'nop':
        handheld(i+1)
    elif instruction == 'acc':
        if sign == '+':
            accumulator += amount
        if sign == '-':
            accumulator -= amount
        handheld(i+1)
    elif instruction == 'jmp':
        handheld(i+amount)

In [60]:
handheld(0)

IndexError: single positional indexer is out-of-bounds